body{
    text-align: center;
}

#header {
    margin: 30px 0 10px 0;
}

button {
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
}

#container {
    display: grid;
    height: 700px;
    width: 700px;
    margin: 0 auto;
}

.block {
    background-color: white;
    border: 1px solid black;
}